<div class="container">
    <div class="row topheader navbar fixed-top ">
        <a [routerLink]="['/']"><i class="icon-left"></i> Back</a>
    </div>
    
    <div class="rules mt-5">
        
        <span class="titlesecondary">Objectives</span> <br /><br />
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Motivate employees to maintain their health prior to the Annual Medical checkup</li>
            <li class="list-group-item">Motivate employees to focus more on their health</li>
            <li class="list-group-item">Motivate employees who are finding it difficult to maintain a healthy lifestyle</li>
        </ul>
        <br /><br />
        <span class="titlesecondary">Rules & Regulation</span> <br /><br />
        <span class="title">The Rules & Regulations for Walk To Win 2019 is as follows:</span><br /><br />
        
        <ul class="list-group list-group-flush">
            <li class="list-group-item">The competition will be held for three weeks from the announced date (22 July)                </li>
            <li class="list-group-item">The competition will be held in two categories “Team” & “Individual”</li>
            <li class="list-group-item">Each team category requllsires four (4) Members</li>
            <li class="list-group-item"> It is mandatory to have one(1) female member in each team                </li>
            <li class="list-group-item">Contestants can participate in both Team & Individual category (If you register as a team, you will be automatically added to individual category)</li>
            
            <li class="list-group-item">Team members cannot be changed or added after the competition starts</li>
            <li class="list-group-item">Individual step count should be recorded using a mobile app or device and should sync the data to GoogleFit or added manually.</li>
            <li class="list-group-item">Leaderboard will be available in bonfire application and given URL (http://bit.ly/walkTowin) </li>

            <li class="list-group-item">Your data should sync within 5 days to our system using GoogleFit, Maximum of 7 days data will sync when you connect to app so make sure to sync your data everyday to avoid losing points.</li>
            <li class="list-group-item">The teams that display the highest scores at the end of the competition will be chosen as Winners                </li>
            <li class="list-group-item">The Winners will be required to provide screenshots of the application used to record the steps count  (Screenshot should contain Steps count, Date)                </li>
            <li class="list-group-item">Steps counts will be recorded individually per member and cannot be merged to get points </li>
            <li class="list-group-item">Weight of all participants will be measured before the competition - Optional</li>
            <li class="list-group-item">Points calculation will be subjected to change in the purpose of motivation</li>
            <li class="list-group-item">Contestants found <b>cheating</b> will be <b>disqualified</b> from the competition as the sole purpose of this competition is to promote a healthier lifestyle                </li>
            </ul>
    </div>

    <div style="text-align:center;">
        <br /> <hr />
        <button type="button" [routerLink]="['/point']"  class="btn btn-warning">Earn bonus points</button>
        <br /> <br />
    </div>
</div>