<div class="container">
    <div class="row topheader navbar fixed-top ">
        <a [routerLink]="['/']"><i class="icon-left"></i> Back</a>
    </div>
    
    <div class="rules">

        <span class="titlesecondary">Rules & Regulation</span> <br /><br />
 
        <span class="title">The Rules & Regulations for Walk To Win 2019 is as follows:</span><br /><br />
        
        <ul class="list-group list-group-flush">
            <li class="list-group-item">The competition will be held for three weeks from the announced date (18 July)</li>
            <li class="list-group-item">The competition will be held in two categories Team & Individual</li>
            <li class="list-group-item">Each team requires four (4) Members</li>
            <li class="list-group-item"> It is mandatory to have one(1) female member in each team</li>
            <li class="list-group-item">Participants can participate in both Team & Individual category (If you register as a team you will be automatically added to individual categories too) </li>
            <li class="list-group-item">Points calculation is different for Individual and Team categories - Refer the points chart</li>
            <li class="list-group-item">Team members cannot be changed or added after the competition starts</li>
            <li class="list-group-item">Individual step count should be recorded using a mobile app or device and should sync the data to GoogleFIt and leaderboard will be available in bonfire application and given URL (...)</li>
            <li class="list-group-item">The teams that display the highest scores at the end of the competition will be chosen as Winners</li>
            <li class="list-group-item">The Winners will be required to provide the screenshots of the application used to record the steps count  (Screenshot should contain Steps count, Date)</li>
            <li class="list-group-item">Steps counts will be recorded individually per member and cannot be merged to get points </li>
            <li class="list-group-item">Weight of all participants will be measured before the competition</li>
            <li class="list-group-item">Points calculation will be subjective to change in the purpose of motivation</li>
            </ul>
    </div>
</div>