<div class="container">
    <div class="row topheader navbar fixed-top ">
        <a [routerLink]="['/']"><i class="icon-left"></i> Back</a>
    </div>
    <div class="pointstable">
        <div class="row pagetitle">Bonus points</div>
        <br />
        <span class="title">First week 22 july - 28 July</span>
        <br />
        Both Team & Indivitual category participants will get 5 points for every 1000 Steps up to 25 Points
        <br /><br />
        <hr />
        <span class="title">Bonus points, <span class="small">One day within given date period</span></span>
        <br />
        <hr />
        <span class="titlesecondary">How to earn bonus points?</span><br />
        If <b>team</b> get 60000 steps collectively, they will get 100 bonus points.
        <br /><br />
        <b>Individual</b><br />
        If he/she walked extra 2500 steps on selected day he/she will get a bonus of 50 Points
        <br /><br />

        <span class="titlesecondary">Bonus points avalible dates</span><br />
        <ul class="list-group">
            <li class="list-group-item">24July - 26July</li>
            <li class="list-group-item">30July - 1Aug</li>
            <li class="list-group-item">5Aug - 7Aug</li>
            <li class="list-group-item">10Aug - 12Aug</li>
        </ul>
        <br />
        <div class="row pagetitle">Regular points calculation</div>
        <br />
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Steps</th>
                    <th scope="col">Points</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>5000</th>
                    <td>25</td>
                </tr>
                <tr>
                    <th>7500</th>
                    <td>50</td>
                </tr>
                <tr>
                    <th>10000</th>
                    <td>75</td>
                </tr>
                <tr>
                    <th>12500</th>
                    <td>100</td>
                </tr>
        </table>
        <span class="title">Happy walking!</span>
        <br /><br />
    </div>
</div>