<div class="container">
    <div class="row topheader navbar fixed-top ">
        <a [routerLink]="['/']"><i class="icon-left"></i> Back</a>
    </div>
    <div class="pointstable mt-5 mb-5">
        <br />
        <h3 class="mt-5">Regular points calculation for both Team & Individual</h3>
        <br />
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Steps (Per Member)</th>
                    <th scope="col">Points</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>5000 (Minimum Required)</th>
                    <td>25</td>
                </tr>
                <tr>
                    <th>7500</th>
                    <td>50</td>
                </tr>
                <tr>
                    <th>10000</th>
                    <td>75</td>
                </tr>
                <tr>
                    <th>12500</th>
                    <td>100</td>
                </tr>
        </table>
        <hr />
        <div class="small">All the points will be updated (corrected if there are issues) after the end of 
            this week (2 Aug)
        </div><br />
        <span class="titlesecondary">Additional points scheme  </span> <br /><br />
        <span><b>The first week <br />
            (22 July, 23 July, 25 July & 26 July) </b></span><br /><br />
        Upon reaching <b>12,500 steps</b>, every additional <b>1,000 steps</b> will earn you <b>5 points</b> up to a maximum of <b>25 points</b> (Maximum 17,500 steps)<br>
        <br />
        <span class="titlesecondary">Bonus points (Declared dates)</span><br />
        <ul class="list-group">
            <li class="list-group-item">24 July</li>
            <li class="list-group-item">28 July</li>
            <li class="list-group-item">1 Aug</li>
            <li class="list-group-item">3 Aug</li>
            <li class="list-group-item">7 Aug</li>
        </ul>
    
        <br />
        <span class="titlesecondary">How to earn bonus points?</span><br />
        On the bonus points available dates, once the contestant exceeds <b>12,500 steps</b> for every additional <b>500 steps</b> the contestant will <b>earn 4 bonus</b> points.
        <br /><br />
        *These points will be also included in the team score
    </div>
</div>