<ngb-tabset>
    <ngb-tab>
        <ng-template ngbTabTitle>
            <i class="icon-group"></i>
            Leaderboard
        </ng-template>
        <ng-template ngbTabContent>
            <ul class="leaderboard">
                <li class="title">
                    <div>#</div>
                    <div>Team Name</div>
                    <div>Steps</div>
                    <div>Points</div>
                </li>
                <li class="team" *ngFor="let team of teams; let i = index">
                    <div>{{ (i + 1) | number : '2.' }}</div>
                    <div><a href="#">{{ team.name }}</a></div>
                    <div>{{ team.steps }}</div>
                    <div>{{ team.points }}</div>
                </li>
            </ul>
        </ng-template>
    </ngb-tab>

    <ngb-tab>
        <ng-template ngbTabTitle>
            <i class="icon-male"></i>
            Boys
        </ng-template>
        <ng-template ngbTabContent>
            <ul class="teammates">
                <li class="title">
                    <div>Name</div>
                    <div>Steps</div>
                    <div>Points</div>
                </li>
                <li class="member">
                    <div>Yohan jayarathna</div>
                    <div>413,288</div>
                    <div>350</div>
                </li>
                <li class="member">
                    <div>Seshani gamage</div>
                    <div>349,832</div>
                    <div>350</div>
                </li>
                <li class="member">
                    <div>Oshadi wattuhewa</div>
                    <div>381,112</div>
                    <div>350</div>
                </li>
                <li class="member">
                    <div>Janindhu ranawaka</div>
                    <div>382,345</div>
                    <div>350</div>
                </li>
            </ul>
        </ng-template>
    </ngb-tab>

    <ngb-tab>
        <ng-template ngbTabTitle>
            <i class="icon-female"></i>
            Girls
        </ng-template>
        <ng-template ngbTabContent>
            <ul class="teammates">
                <li class="title">
                    <div>Name</div>
                    <div>Steps</div>
                    <div>Points</div>
                </li>
                <li class="member">
                    <div>Oshadi wattuhewa</div>
                    <div>413,288</div>
                    <div>350</div>
                </li>
                <li class="member">
                    <div>Seshani gamage</div>
                    <div>349,832</div>
                    <div>350</div>
                </li>
                <li class="member">
                    <div>Yohan jayarathna</div>
                    <div>381,112</div>
                    <div>350</div>
                </li>
                <li class="member">
                    <div>Janindhu ranawaka</div>
                    <div>382,345</div>
                    <div>350</div>
                </li>
            </ul>
        </ng-template>
    </ngb-tab>
</ngb-tabset>