<div class="appcontainer">
    <ngb-tabset justify="fill">
        <ngb-tab>
            <ng-template ngbTabTitle>
                <i class="icon-user"></i>
            </ng-template>
            <ng-template ngbTabContent>
                <app-sync></app-sync>
            </ng-template>
        </ngb-tab>
        <ngb-tab>
            <ng-template ngbTabTitle>
                <i class="icon-group"></i>
            </ng-template>
            <ng-template ngbTabContent>
                <app-teams-list [teams]="teams"></app-teams-list>
            </ng-template>
        </ngb-tab>

        <ngb-tab>
            <ng-template ngbTabTitle>
                <i class="icon-male"></i>
            </ng-template>
            <ng-template ngbTabContent>
                <app-individual-list [players]="malePlayers">
                </app-individual-list>
            </ng-template>
        </ngb-tab>

        <ngb-tab>
            <ng-template ngbTabTitle>
                <i class="icon-female"></i>
            </ng-template>
            <ng-template ngbTabContent>
                <app-individual-list [players]="femalePlayers">
                </app-individual-list>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>

</div>
<ngx-spinner bdOpacity=0.9 bdColor="rgba(255,255,255,0.73)" size="medium" color="#f47e47" type="ball-clip-rotate-pulse"
    [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>