<div class="pagetitle"><span (click)="navigateBack()"><i class="icon-left-thin"></i></span>{{team?.name}}
</div>
<ul class="mysteps">
    <li class="title">
        <div>Member name</div>
        <div>Steps</div>
        <div>Points</div>
    </li>
    <li class="member" *ngFor="let player of teamMembers; let i = index">
        <div>{{ player.name | titlecase }}</div>
        <div>{{ player.steps | number : '2.' }}</div>
        <div>{{ player.points | number : '2.' }}</div>
    </li>
    <li class="total">
        <div></div>
        <div>{{team.points}}</div>
        <div>{{team.steps}}</div>
    </li>
</ul>
<ngx-spinner bdOpacity=0.9 bdColor="#333" size="default" color="#fff" type="ball-atom" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>