a {
  color: black !important;
}

.infobox {
  border: 1px solid #e9e9e9;
  -webkit-box-shadow: 0px 0px 6px 3px #e6e6e6;
  box-shadow: 0px 0px 6px 3px #e6e6e6;
  padding: 15px;
}

.infobox .title {
  padding: 15px 0;
}

.infobox .content {
  margin: 10px 0 50px 0;
}

.primary-btn {
  color: white;
  padding: 10px 20px 10px 20px;
  margin: 20px 0;
}

.pagetitle {
  padding: 10px 10px;
  background: #f47e47;
  color: white;
}

.pagetitle span {
  padding: 10px;
}

.pagetitle i {
  color: white;
}

.leaderboard {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.leaderboard li:nth-child(2), .leaderboard li:nth-child(3), .leaderboard li:nth-child(4) {
  border-bottom: 2px solid #43c72b;
}

.leaderboard li:nth-child(2) div:first-child, .leaderboard li:nth-child(3) div:first-child, .leaderboard li:nth-child(4) div:first-child {
  color: #268615 !important;
}

.leaderboard li:nth-child(5), .leaderboard li:nth-child(6) {
  border-bottom: 2px solid #3078e4;
}

.leaderboard li:nth-child(5) div:first-child, .leaderboard li:nth-child(6) div:first-child {
  color: #2262c1 !important;
}

.leaderboard li {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-bottom: 1px solid #eef1f8;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.leaderboard li div:first-child {
  min-width: 40px;
  padding-left: 10px;
}

.leaderboard li div:nth-child(2) {
  width: 100%;
}

.leaderboard li div:nth-child(3) {
  max-width: 150px;
  padding-right: 10px;
  font-size: 11px;
}

.leaderboard li div:last-child {
  width: 100px;
  padding-right: 10px;
  text-align: right;
}

.leaderboard .team {
  font-size: 14px;
  padding: 15px 0;
}

.leaderboard .team a {
  cursor: pointer;
}

.leaderboard .team div:first-child {
  font-weight: bold;
}

.leaderboard .team div:last-child {
  font-weight: bold;
}

.leaderboard .title {
  font-size: 11px;
  padding: 5px 0;
}

.leaderboard .title div:last-child {
  text-align: right;
}

.teammates {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.teammates li {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-bottom: 1px solid #eef1f8;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.teammates li div:first-child {
  min-width: 40px;
  padding-left: 10px;
}

.teammates li div:nth-child(2) {
  width: 100%;
}

.teammates li div:nth-child(3) {
  max-width: 150px;
  padding-right: 10px;
  font-size: 11px;
}

.teammates li div:last-child {
  width: 100px;
  padding-right: 10px;
  text-align: right;
}

.teammates .team {
  font-size: 14px;
  padding: 15px 0;
}

.teammates .team a {
  cursor: pointer;
}

.teammates .team div:first-child {
  font-weight: bold;
}

.teammates .team div:last-child {
  font-weight: bold;
}

.teammates li:nth-child(2), .teammates li:nth-child(3), .teammates li:nth-child(4) {
  border-bottom: 2px solid #FEBE23;
}

.teammates li:nth-child(2) div:first-child, .teammates li:nth-child(3) div:first-child, .teammates li:nth-child(4) div:first-child {
  color: #a37508 !important;
}

.teammates li:nth-child(5), .teammates li:nth-child(6) {
  border-bottom: 2px solid #86B24C;
}

.teammates li:nth-child(5) div:first-child, .teammates li:nth-child(6) div:first-child {
  color: #86B24C !important;
}

.teammates .member {
  font-size: 14px;
  padding: 15px 0;
  text-align: left;
}

.teammates .member a {
  cursor: pointer;
}

.teammates .member div:first-child {
  font-weight: bold;
}

.teammates .member div:last-child {
  font-weight: bold;
}

.teammates .title {
  font-size: 11px;
  padding: 5px 0;
}

.teammates .title div:last-child {
  text-align: right;
}

.teammates .total {
  font-size: 15px;
  font-weight: bold;
  padding: 12px 0;
  background: #ccc;
}

.mysteps {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.mysteps li {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-bottom: 1px solid #eef1f8;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mysteps li div:first-child {
  width: 100%;
  padding-left: 10px;
  text-align: left;
}

.mysteps li div:nth-child(2) {
  min-width: 150px;
  text-align: right;
  padding-right: 16px;
}

.mysteps li div:last-child {
  min-width: 50px;
  padding-right: 10px;
  font-size: 11px;
  text-align: right;
}

.mysteps .member {
  font-size: 14px;
  padding: 15px 0;
  text-align: left;
}

.mysteps .member a {
  cursor: pointer;
}

.mysteps .member div:first-child {
  font-weight: bold;
}

.mysteps .member div:last-child {
  font-weight: bold;
}

.mysteps .title {
  font-size: 11px;
  padding: 5px 0;
}

.mysteps .title div:last-child {
  font-weight: bold;
  text-align: right;
}

.mysteps .total {
  font-size: 15px;
  font-weight: bold;
  padding: 12px 0;
  background: #ccc;
}

.launch {
  text-align: center;
  padding: 50px 5px;
}

.nav li a {
  background-color: #e4e4e4 !important;
  border-radius: 0px !important;
  color: black;
  padding: 15px 0 !important;
}

.nav li .active {
  background-color: #f47e47 !important;
  color: #fff !important;
  border: 0px;
  border-bottom: 2px solid #f47e47 !important;
}

.nav-fill .nav-item {
  cursor: pointer !important;
}

.nav li i {
  font-size: 22px;
}

.appcontainer {
  max-width: 600px;
  margin: 0 auto;
}

.topheader {
  padding: 15px;
  background-color: #f47e47 !important;
  margin-bottom: 15px;
  font-size: 20px;
}

.topheader a {
  color: #fff !important;
}

.bonus {
  font-weight: 700;
}

.titlesecondary {
  font-weight: 700;
  color: #f47e47;
}

.errormessage {
  font-size: 80%;
  color: #dc3545;
}
/*# sourceMappingURL=mains.css.map */