<div class="connect">

    <div class="connect-container">
        <div class="Logo"><img src="./assets/img/w2w-logo.png" width="220"></div>
        <div *ngIf="!getGmail()">
            <a href="{{googleAuthUrl}}"><span class="btn btn-primary"><i class="icon-google"></i>
                    Connect GoogleFit</span></a>
        </div>
    </div>

    <div class="connect-container" *ngIf="getGmail()">
        <span (click)="getSyncData()" class="btn btn-primary">
            <i class="icon-sync"></i> Sync</span>
        <br />
        <br />
        <span *ngIf="tempMessage && tempMessage?.length">
            {{tempMessage}}
        </span>
    </div>

    <div *ngIf="false">
        <div class="pagetitle">Your steps counts by date</div>
        <ul *ngIf="isStepsCounted" class="mysteps">
            <li class="title">
                <div>Date</div>
                <div>Steps</div>
                <div>Points</div>
            </li>
            <li *ngFor="let step of stepCounts; let i = index" class="member">
                <div>{{ step.dateSteps | date: 'fullDate' }}</div>
                <div>{{ step.stepsPerDay }}</div>
                <div>350</div>
            </li>

            <li class="member total">
                <div>Total</div>
                <div>{{ totalStepCount }}</div>
                <div>350</div>
            </li>
        </ul>
    </div>
</div>