<div class="connect">

    <div class="connect-container" *ngIf="!googleFitService.isSignedIn">
        <div class="Logo"><img src="./assets/img/w2w-logo.png" width="220"></div>
        <div >
            <span class="btn btn-primary"  (click)="signIn()"><i class="icon-google"></i>
                    Connect GoogleFit</span>
        </div>
    </div>

    <div class="connect-container" *ngIf="googleFitService.isSignedIn">
        <span (click)="viewStepCount()" class="btn btn-primary">
            <i class="icon-sync"></i> Sync</span>
        <br />
        <br />
        <span *ngIf="tempMessage && tempMessage?.length">
            {{tempMessage}}
        </span>
    </div>

    <div *ngIf="isStepsCounted">
        <div class="pagetitle">Hi {{ getGmail()}},  Your steps counts by date</div>
        <ul *ngIf="stepCounts" class="mysteps">
            <li class="title">
                <div>Date</div>
                <div>Steps</div>
                <div>Points</div>
            </li>
            <li *ngFor="let step of stepCounts; let i = index" class="member">
                <div>{{ step.date | date: 'fullDate' }}</div>
                <div>{{ step.steps }}</div>
                <div>3846</div>
            </li>

            <li class="member total">
                <div>Total</div>
                <div>{{totalStepCount}}</div>
                <div>50000</div>
            </li>
        </ul>
    </div>

    <div>
        <br />
        <hr />
        <button type="button" [routerLink]="['/point']" class="btn btn-warning">Earn bonus points</button>
        <br /> <br />
    </div>

    <nav class="navbar bottom navbar-light bg-light">
        <a [routerLink]="['/rules']">Rules & Regulations</a> |
        <a [routerLink]="['/privacy']">Privacy</a>
    </nav>
</div>