<div class="connect mt-5">
    <ngx-spinner bdOpacity=0.9 bdColor="rgba(255,255,255,0.73)" size="medium" color="#f47e47"
        type="ball-clip-rotate-pulse" [fullScreen]="true">
        <p style="color: white"> Loading... </p>
    </ngx-spinner>
    <div class="connect-container" *ngIf="!getGoogleFitService().isSignedIn">
        <div class="Logo"><img src="./assets/img/w2w-logo.png" width="220"></div>
        <div>
            <span class="btn btn-primary" (click)="signIn()"><i class="icon-google"></i>
                Connect GoogleFit</span>
        </div>
    </div>

    <div class="connect-container" *ngIf="getGoogleFitService().isSignedIn">
        <span (click)="viewStepCount()" class="btn btn-primary" style="padding: 15px 35px; font-size: 25px;"><i
                class="icon-sync"></i> Auto Sync</span>
        <br />
        <br />

    </div>
    <div *ngIf="displayError" class="alert alert-danger">{{displayError}}</div>
    <div *ngIf="isStepsCounted">
        <div *ngIf="stepCounts?.total_steps.length ===0" class="pagetitle">Hi {{ getGmail()}},There is no sync data. You
            probably need to
            charge your
            phone
            for Google
            Fit to get synchronized.</div>
        <div *ngIf="stepCounts?.total_steps.length !==0" class="pagetitle">Hi {{ getGmail()}}, Your steps counts by date
        </div>
        <ul *ngIf="stepCounts?.total_steps.length !==0" class="mysteps">
            <li class="title">
                <div>Date</div>
                <div>Steps</div>
                <div>Points</div>
            </li>
            <li *ngFor="let step of stepCounts.total_steps; let i = index" class="member">
                <div>{{ step.date | date: 'fullDate' }}</div>
                <div>{{ step.steps }}</div>
                <div>{{ step.points }}</div>
            </li>
            <li class="total">
                <div></div>
                <div>{{totals?.totalSteps}}</div>
                <div>{{totals?.totalPoints}}</div>
            </li>
        </ul>
    </div>

    <div *ngIf="getGoogleFitService().isSignedIn">
        <br />
        Having issues when syncing?
        <br />
        <span [routerLink]="['/manualsync']" class="btn btn-secondary" >
            <i class="icon-keyboard"></i> Enter Manually</span>
        <!-- <a [routerLink]="['/manualsync']"><b>Enter manually</b></a> -->
    </div>

    <div class="appcontainer bottom navbar-light bg-light">
        <!-- <button type="button" [routerLink]="['/point']" class="btn btn-warning">Earn bonus points</button> -->
        <hr />
        <nav class="navbar ">
            <a [routerLink]="['/rules']">Rules & Regulations</a>
            <a [routerLink]="['/privacy']">Privacy</a>
        </nav>
        <hr />
        <nav class="navbar ">
            Made with ❤️ by Opensource Initiative
        </nav>
    </div>
</div>