<!-- main app container -->
<div class="container">
    <h5 class="pagetitle">Enter your steps</h5>
    <div class="card-body">
        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

            <div class="form-group">
                <label>Email</label>
                <input type="text" name="email" class="form-control" [(ngModel)]="model.email" #email="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email>
                <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                    <div *ngIf="email.errors.required">Email is required</div>
                    <div *ngIf="email.errors.email">Email must be a valid email address</div>
                </div>
            </div>
            <div class="form-group">
                <label>No. of Steps</label>
                <input type="number" name="steps" class="form-control"
                    onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" [(ngModel)]="model.steps"
                    #steps="ngModel" [ngClass]="{ 'is-invalid': f.submitted && steps.invalid }" required>
                <div *ngIf="f.submitted && steps.invalid" class="invalid-feedback">
                    <div *ngIf="steps.errors.required">No. of Steps is required</div>
                </div>
            </div>
            <form class="form-inline">
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model.date"
                            ngbDatepicker #d="ngbDatepicker" [minDate]="{year: 2019, month: 7, day: 21}"
                            [maxDate]="{year: 2019, month: 8, day: 12}">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()"
                                type="button"></button>
                        </div>
                    </div>
                </div>
            </form>

            <div class="text-center">
                <button class="btn btn-primary mr-1" >Sync</button>
                <button class="btn btn-secondary" [routerLink]="['/']" type="reset">Cancel</button>
            </div>
        </form>
        <hr />
        <div *ngIf="displayMessage">Manual Sync Completed</div>
    </div>
</div>