<div class="pagetitle"><span (click)="navigateBack()"><i class="icon-left-thin"></i></span>{{ playerName | titlecase }}
</div>

<ul *ngIf="player?.stepCounts?.total_steps.length !==0" class="mysteps">
    <li class="title">
        <div>Date</div>
        <div>Total Steps</div>
        <div>Total Points</div>
    </li>
    <li *ngFor="let step of player?.total_steps; let i = index" class="member">
        <div>{{ step.date | date: 'fullDate' }}</div>
        <div>{{ step.steps | number : '2.'}}</div>
        <div>{{ step.points | number : '2.'}}</div>
    </li>
    <li class="total">
        <div></div>
        <div>{{player?.steps | number : '2.'}}</div>
        <div>{{player?.points | number : '2.'}}</div>
    </li>
</ul>